html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
  font-size: $s-size;
  font-weight: 300;
}

.main {
  min-height: calc(100vh - 6rem);
  margin: 5rem auto;
  text-align: center;  
}
