// Color palletes
$main-color: #C36A71;
$text-color: #4A4A4A;
$white: #ffffff;
$light-gray: #dbd6d6;

// Spacing
$sm-size: 1.4rem;
$m-size: 1.8rem;
$s-size: 1rem;

// Screen Sizes and breakpoints
$phone-screen: 320px;
$phone-plus-screen: 375px;
$iphone-screen: 480px;
$tablet-screen: 768px;
$laptop-screen: 1024px;

