// Color palletes
$text-blue: #2B7DB6;
$main-color: #0c5a63;
$text-gray: #4A4A4A;
$button-color: #4dbdca;
$white: #ffffff;
$light-gray: #dbd6d6;

// Spacing
$sm-size: 1.4rem;
$m-size: 1.8rem;
$s-size: 1rem;

// Screen Sizes and breakpoints
$phone-screen: 320px;
$phone-plus-screen: 375px;
$iphone-screen: 480px;
$tablet-screen: 768px;
$laptop-screen: 1024px;

