@import "https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900";
html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 300; }

.main {
  min-height: calc(100vh - 6rem);
  margin: 5rem auto;
  text-align: center; }

.footer {
  display: flex;
  height: 6rem;
  background-color: #5B716B;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-style: italic;
  font-size: 1.4rem; }

.footer__twitter__link {
  text-decoration: none;
  color: inherit; }

@media only screen and (min-width: 768px) {
  height: 10rem; }

.header {
  display: flex;
  height: 9rem;
  background: linear-gradient(180deg, #6AC3BC 0%, #D8D8D8 100%);
  color: #C36A71;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: center;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2); }
  .header:hoveer {
    box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.6); }

.header__text__first,
.header__text__second {
  flex: 9rem;
  padding: 2.2rem 0; }

.header__text__first {
  margin-right: 1rem;
  text-align: right; }

.header__text__second {
  margin-left: 1rem; }

@media only screen and (max-width: 320px) {
  .header__text__first,
  .header__text__second {
    font-size: 1.4rem; } }

@media only screen and (min-width: 480px) {
  .header {
    font-size: 2.4rem; }
  .header__text__first,
  .header__text__second {
    padding-top: .8rem; } }

.pokemon__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2rem; }

.pokemon__item__background__cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  filter: blur(3rem);
  transform: scale(2, 2);
  z-index: -1; }

.pokemon__no__link {
  color: inherit;
  text-decoration: none; }

.pokeman__list__item {
  animation: fadein 2s; }
  .pokeman__list__item:hover {
    border-radius: 1.2rem;
    background-color: rgba(255, 255, 255, 0.2); }

.pokemon__item__name {
  position: absolute;
  padding: 0.5rem 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 1.4rem; }

.pokemon__item {
  height: 14rem;
  width: 14rem;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: .3rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.2rem 0.4rem 0 rgba(179, 216, 245, 0.5); }

.pokemon__item__content {
  box-sizing: border-box;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.pokeman__item__picture {
  flex: 1;
  background-repeat: no-repeat;
  background-position: center; }

.main__pagination {
  display: inline-flex;
  justify-content: center;
  font-weight: 500;
  margin: 4rem auto;
  align-items: center; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.pagination__prev,
.pagination__next {
  background: #C36A71;
  color: #ffffff;
  padding: 2rem 5.7rem;
  border-radius: 10rem;
  cursor: pointer; }

.pagination__current {
  border: 0.1rem solid #C36A71;
  color: #4A4A4A;
  border-radius: 10rem;
  padding: 2rem 3rem;
  margin-left: 2rem; }

.pagination__text {
  color: #4A4A4A;
  margin: 2rem; }

.ReactModalPortal > div {
  opacity: 0; }

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 400ms ease-in-out;
  background: rgba(115, 104, 104, 0.75); }
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    background: rgba(191, 172, 172, 0.5); }
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0; }

.input__search {
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  outline: 0;
  height: 3.5rem;
  width: 90%;
  font-size: 1.4rem;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  margin: .3rem auto;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
  .input__search:focus, .input__search:hover {
    border-color: #C36A71;
    background-image: url("../images/search-icon-hover.svg");
    border-bottom-width: .2rem; }
