.footer {
  display: flex;
  height: 6rem;
  background-color: #5B716B;
  justify-content: center;
  align-items: center;
  color: $white;
  font-style: italic;
  font-size: $sm-size;
}

.footer__twitter__link {
  text-decoration: none;
  color: inherit;
}


@media only screen  and (min-width: $tablet-screen){
  height: 10rem;
}