.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 400ms ease-in-out;
  background: rgba(115, 104, 104, 0.75);

  &--after-open {
    opacity: 1;
    background: rgba(191, 172, 172, 0.5);
    
  }
  &--before-close {
      opacity: 0;
  }
}