.pagination {
  display: inline-flex;
  justify-content: center;
  margin: 4rem auto;
  align-items: center;
  font-size: $sm-size;
}

.pagination__prev,
.pagination__next {
  background: $main-color;
  color: $white;
  width: 4.5rem;
  padding: 2rem;
  border-radius: 10rem;
  cursor: pointer;
}

.pagination__current {
  border: .1rem solid $main-color;
  color: $text-color;
  border-radius: 10rem;
  padding: 2rem 2.5rem;
  margin-left: 1rem;
}

.pagination__text {
  color: $text-color;
  margin: 1rem;
}

@media only screen and (min-width: $tablet-screen) {
  .pagination {
    font-size: 1.8rem;
  }

  .pagination__prev,
  .pagination__next {
    width: 9.4rem;
  }

  .pagination__current {
    margin-left: 2rem;
  }

  .pagination__text {
    margin: 2rem;
  }
}
